<ion-view title="Home" cache-view="false">
    <ion-header>
        <div class="bar bar-header home-hdr">
            <button class="button button-clear button-icon icon ion-navicon"></button>      
        </div>
    </ion-header>
    <ion-content class="has-header">
        <div class="home">            
            <div class="slider-a">
                <div class="slider-sa">
                    <!-- <ul rn-carousel rn-carousel-index="carCurrIndex" rn-carousel-transition="hexagon" rn-carousel-buffered class="carousel3 sa-slider" ng-swipe-right="carouselPrev()" ng-swipe-left="carouselNext()" ng-if="showCarousel">
                      <li ng-repeat="data in carouselArr"><img ng-src="{{data.img}}"/><div class="slder-tle">{{data.firstname}} {{data.middlename}} {{data.lastname}}</div></li>
                    </ul> -->
                    <ul rn-carousel rn-carousel-index="obj.carCurrIndex" rn-carousel-transition="hexagon" rn-carousel-buffered class="carousel3 sa-slider" ng-if="showCarousel">
                      <li ng-repeat="data in carouselArr"><img ng-src="{{data.img}}"/><div class="slder-tle" style="text-transform: capitalize;">{{data.firstname}} {{data.middlename}} {{data.lastname}}</div></li>
                    </ul>
                </div>                 
                <div class="timeline" ng-click="timeline()"><img src="img/timeline.png"> Timeline </div>
                <div class="row upload-share">
                    <div class="col" ng-click="upload()"><img src="img/upload.png"> Upload</div>
                    <div class="col bdr-left" ng-click="sahre()"><img src="img/share.png"> Share</div>
                </div>
            </div>
            
            <div class="home-heading">Health Summary</div>
            <div class="home-row">
                <div class="home-blocks personal" ng-click="personalInfo()">
                    <div class="blue-heading">Personal</div>
                    <div class="no-large">
                        <span ng-if="ageYear==-5">N/A</span>
                        <span ng-if="ageYear!=-5">{{ageYear}}</span>
                    </div>
                    <div class="years">Years</div>
                    <div class="block-ls">
                        <label class="label1">
                            <img class="img1" src="img/dob.png"> DOB
                        </label>
                        <span class="span1" ng-if="userInfo.age!=''">{{userInfo.age|date:"MM/dd/yyyy"}}</span>
                        <span class="span1" ng-if="userInfo.age==''">-</span>
                    </div>
                    <div class="block-ls">
                        <label class="label1">
                            <img class="img1" src="img/blood.png"> Blood Type
                        </label>
                        <span class="span1">{{userInfo.bloodgrp}}</span>
                    </div>
                </div>
                
                <div class="home-blocks provider" ng-click="myProvider()">
                    <div class="blue-heading">Providers</div>
                    <div class="no-large"><img src="img/provider.png">{{providerDet.count}}</div>
                    <div class="block-ls">
                        <label class="label1">
                            <img class="img1" src="img/last-seen.png"> Last Seen by
                        </label>
                        <span class="span1">Dr. Name</span>
                        <!--span class="span2 newspan2">Heranandez, M.D. MPH</span-->
                    </div>
                    <div class="block-ls pending_request">
                        <label class="label1">
                            <img class="img1" src="img/vital-sm.png"> Pending <span>Requested Record</span>
                        </label>
                    </div>
                </div>
                
                <div class="home-blocks h-block2 health_condition" ng-click="healthCond()">
                    <div class="blue-heading">Health Condition</div>
                    <div class="no-large"><img src="img/heart.png" style="width:40px;">{{healCondnDet.count}}</div>
                    <div class="block-ls">
                        <label class="label1">
                            <img class="img1" src="img/spect_icn.png"> Last Diagnosed
                        </label>
                        <span class="span1 span2" ng-if="healCondnDet.count!=0">{{healCondnDet.detail.preexistName}}</span>
                    </div>
                    <div class="block-ls pending_request" ng-if="healCondnDet.count==0">
                        <label class="label1">
                            <img class="img1" src="img/vital-sm.png"> Pending <span>Requested Record</span>
                        </label>
                    </div>
                </div>
                
                <div class="home-blocks h-block2 medication" ng-click="medication()">
                    <div class="blue-heading">Medication</div>
                    <div class="no-large"><img src="img/med_icn.png">{{medDet.count}}</div>
                    <div class="block-ls">
                        <label class="label1">
                            <img class="img1" src="img/pres_icn.png"> Last Prescribed
                        </label>
                        <span class="span1 span2" ng-if="medDet.count!=0">{{medDet.detail.medical_name}}</span>
                    </div>
                    <div class="block-ls pending_request" ng-if="medDet.count==0">
                        <label class="label1">
                            <img class="img1" src="img/vital-sm.png"> Pending <span>Requested Record</span>
                        </label>
                    </div>
                </div>
                
                <div class="home-blocks h-block2 health_condition" ng-click="allergyDis()">
                    <div class="blue-heading">Allergies</div>
                    <div class="no-large"><img src="img/allergy.png" style="width:40px;">{{allergyDet.count}}</div>
                    <div class="block-ls">
                        <label class="label1">
                            <img class="img1" src="img/allergy_sm.png"> Last Observed
                        </label>
                        <span class="span1 span2" ng-if="allergyDet.count!=0">{{allergyDet.detail.allergyName}}({{allergyDet.detail.allergyType}})</span>
                    </div>
                    <div class="block-ls pending_request" ng-if="allergyDet.count==0">
                        <label class="label1">
                            <img class="img1" src="img/vital-sm.png"> Pending <span>Requested Record</span>
                        </label>
                    </div>
                </div>
                
                <div class="home-blocks h-block2 health_condition" ng-click="vaccineDocument()">
                    <div class="blue-heading">Documents &amp; Vaccinations</div>
                    <div class="no-large"><img src="img/file.png" style="width:30px;">{{vaccDocDet.count}}</div>
                    <div class="block-ls">
                        <label class="label1" style="margin-top: -5px">
                            <img class="img1" src="img/hm_inj.png"> Next Vaccine
                        </label>
                        <span class="span1 span2" ng-if="vaccDocDet.detail.length!=0">{{vaccDocDet.detail.remDate | dateSuffix}}</span>
                    </div>
                    <div class="block-ls pending_request" ng-if="vaccDocDet.detail.length==0">
                        <label class="label1">
                            <img class="img1" src="img/vital-sm.png"> Pending <span>Requested Record</span>
                        </label>
                    </div>
                </div>
                
                <div class="home-blocks h-block2 medication" ng-click="vitalSymptoms()">
                    <div class="blue-heading">Vitals &amp; Symptoms</div>
                    <div class="no-large"><img src="img/vital.png">{{vitalSymDet.count}}</div>
                    <div class="block-ls">
                        <label class="label1">
                            <img class="img1" src="img/hm_heart.png"> Last Vital/Symptoms
                        </label>
                        <span class="span1 span2" ng-if="vitalSymDet.count!=0 && vitalSymDet.detail.type=='bp'">Blood Pressure</span>
                        <span class="span1 span2" ng-if="vitalSymDet.count!=0 && vitalSymDet.detail.type=='sugar'">Blood Sugar</span>
                        <span class="span1 span2" ng-if="vitalSymDet.count!=0 && vitalSymDet.detail.type=='eyePower'">Eye Power</span>
                        <span class="span1 span2" ng-if="vitalSymDet.count!=0 && vitalSymDet.detail.type=='temperature'">Temperature</span>
                        <span class="span1 span2" ng-if="vitalSymDet.count!=0  && (vitalSymDet.detail.type=='Vitals' || vitalSymDet.detail.type=='Symptoms')">Other {{vitalSymDet.detail.type}}</span>
                        <span class="span1 span2" ng-if="vitalSymDet.count!=0">({{vitalSymDet.detail.recordDateTime | dateWithTime}})</span>
                    </div>
                    <div class="block-ls pending_request" ng-if="vitalSymDet.count==0">
                        <label class="label1">
                            <img class="img1" src="img/vital-sm.png"> Pending <span>Requested Record</span>
                        </label>
                    </div>
                </div>
                
                <div class="home-blocks h-block2 health_condition" ng-click="emergencyContact()">
                    <div class="blue-heading">Emergency</div>
                    <div class="no-large"><img src="img/emergrncy.png" style="width:40px;">{{emerDet.count}}</div>
                    <div class="block-ls">
                        <label class="label1">
                            <img class="img1" src="img/ph_icn.png"> Primary Contact
                        </label>
                        <span class="span1 span2" ng-if="emerDet.count!=0">{{emerDet.detail.type}} - {{emerDet.detail.name}}</span>
                    </div>
                    <div class="block-ls pending_request" ng-if="emerDet.count==0">
                        <label class="label1">
                            <img class="img1" src="img/vital-sm.png"> Pending <span>Requested Record</span>
                        </label>
                    </div>
                </div>
                
                <div class="home-blocks h-block2 medication m-b-0" ng-click="familyFriend()">
                    <div class="blue-heading">Family &amp; Friends</div>
                    <div class="no-large"><img src="img/familyfriendIcon.png">{{famFrndDet.count}}</div>
                    <!--div class="block-ls" style="padding-top: 10px;">
                        <label class="label1">
                            <img class="img1" src="img/vital-sm.png"> Pending Requested Record
                        </label>
                    </div-->
                    <div class="block-ls" style="padding: 10px 0;">
                        <label class="label1">
                            <img class="img1" src="img/hm_fam.png"> Last Shared
                        </label>
                    </div>
                    <div class="block-ls pending_request" ng-if="famFrndDet.count==0">
                        <label class="label1">
                            <img class="img1" src="img/vital-sm.png"> Pending <span>Requested Record</span>
                        </label>
                    </div>
                </div>
                
                <div class="home-blocks h-block2 health_condition m-b-0" ng-click="reportPrescription()">
                    <div class="blue-heading">Report, Scan &amp; Prescription</div>
                    <div class="no-large"><img src="img/docIcon.png" style="width:40px;">{{rpsDet.count}}</div>
                    <div class="block-ls">
                        <label class="label1">
                            <img class="img1" src="img/upload_icn.png"> Last Upload
                        </label>
                        <span class="span1 span2" ng-if="rpsDet.count!=0">{{rpsDet.detail.title}} - ({{rpsDet.detail.dateTime | dateWithTime}})</span>
                    </div>
                    <div class="block-ls pending_request" ng-if="rpsDet.count==0">
                        <label class="label1">
                            <img class="img1" src="img/vital-sm.png"> Pending <span>Requested Record</span>
                        </label>
                    </div>
                </div>
                
            </div>
        </div>  
    </ion-content>
</ion-view>



