<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-stable" ng-style="{'background-color': homeHeaderClr}">
            <!--ion-nav-back-button></ion-nav-back-button-->
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu class="m-bg bg" side="left">
        <ion-content class="menu-bg">
            <ul class="menu-list" style="padding-top:10px;">
                <div>
                    <li class="home-a" ng-click="openHome()">
                        <div class="item item-icon-left item-icon-right">
                            <i class="icon"><img class="menu_icn" src="img/home_icn.png"></i> Home
                            <i class="icon" ng-class="isShowHome?'ion-ios-arrow-down':'ion-ios-arrow-right'"></i>
                        </div>
                        <ul class="sub-menu" ng-if="isShowHome">
                            <li class="item item-icon-left" menu-close ng-click="healthCond()">
                                <i class="icon"><img class="menu_icn" src="img/helCond_menu.png"></i> Health Condition
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="medication()">
                                <i class="icon"><img class="menu_icn" src="img/medication_icn.png"></i> Medication
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="allergyDis()">
                                <i class="icon"><img class="menu_icn" src="img/allergy_icn.png"></i> Allergies
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="vaccineDocument()">
                                <i class="icon"><img class="menu_icn" src="img/document_icn.png"></i> Documents &amp; Vaccination
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="vitalSymptoms()">
                                <i class="icon"><img class="menu_icn" src="img/symptoms_icn.png"></i> Vitals &amp; Symptoms
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="emergencyContact()">
                                <i class="icon"><img class="menu_icn" src="img/emergency_icn.png"></i> Emergency
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="reportPrescription()">
                                <i class="icon"><img class="menu_icn" src="img/report_icn.png"></i> Report, Scan &amp; Prescription
                            </li>
                        </ul>
                    </li>
                </div>
                <div class="alt-div">
                    <li class="home-a" ng-click="openProvider()">
                        <div class="item item-icon-left item-icon-right">
                            <i class="icon"><img class="menu_icn" src="img/providers_icn.png"></i> Doctor/Lab/Pharmacy
                            <i class="icon" ng-class="isShowProvider?'ion-ios-arrow-down':'ion-ios-arrow-right'"></i>
                        </div>
                        <ul class="sub-menu" ng-if="isShowProvider">
                            <li class="item item-icon-left" menu-close ng-click="myProvider()">
                                <i class="icon"><img class="menu_icn" src="img/providers_icn.png"></i> Providers
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="addNewProvider()">
                                <i class="icon"><img class="menu_icn" src="img/addPro_menu.png"></i> Add New Providers
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="myQRCode()">
                                <i class="icon"><img class="menu_icn" src="img/myQR_menu.png"></i> My QR Code
                            </li>
                        </ul>
                    </li>
                </div>
                <div>
                    <li class="home-a" ng-click="openFNF()">
                        <div class="item item-icon-left item-icon-right">
                            <i class="icon"><img class="menu_icn" src="img/family_icn.png"></i> Family &amp; Friends
                            <i class="icon" ng-class="isShowFNF?'ion-ios-arrow-down':'ion-ios-arrow-right'"></i>
                        </div>
                        <ul class="sub-menu" ng-if="isShowFNF">
                            <li class="item item-icon-left" menu-close ng-click="manageLinkedCont()">
                                <i class="icon"><img class="menu_icn" src="img/mngLinkCont_menu.png"></i> Managed &amp; linked contacts
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="moreContacts()">
                                <i class="icon"><img class="menu_icn" src="img/MORCont_menu.png"></i> MOR Contacts
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="inviteContacts()">
                                <i class="icon"><img class="menu_icn" src="img/inviteCont_menu.png"></i> Invite Contacts
                            </li>
                        </ul>
                    </li>
                </div>
                <div class="alt-div">
                    <li class="home-a" ng-click="openTimeline()">
                        <div class="item item-icon-left item-icon-right">
                            <i class="icon"><img class="menu_icn" src="img/history_menu.png"></i> History
                            <i class="icon" ng-class="isShowTimeline?'ion-ios-arrow-down':'ion-ios-arrow-right'"></i>
                        </div>
                        <ul class="sub-menu" ng-if="isShowTimeline">
                            <li class="item item-icon-left" menu-close ng-click="timeline()">
                                <i class="icon"><img class="menu_icn" src="img/timeline_icn.png"></i> Timeline
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="calendar()">
                                <i class="icon"><img class="menu_icn" src="img/cal_menu.png"></i> Calendar
                            </li>
                        </ul>
                    </li>
                </div>
                <div>
                    <li class="home-a" ng-click="openProfile()">
                        <div class="item item-icon-left item-icon-right">
                            <i class="icon"><img class="menu_icn" src="img/profile_icn.png"></i> Profile
                            <i class="icon" ng-class="isShowProfile?'ion-ios-arrow-down':'ion-ios-arrow-right'"></i>
                        </div>
                        <ul class="sub-menu" ng-if="isShowProfile">
                            <li class="item item-icon-left" menu-close ng-click="personalInfo()">
                                <i class="icon"><img class="menu_icn" src="img/personal_menu.png"></i> Personal
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="additionalInfo()">
                                <i class="icon"><img class="menu_icn" src="img/additionalInfo_menu.png"></i> Additional information
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="weight()">
                                <i class="icon"><img class="menu_icn" src="img/weight_menu.png"></i> Weight
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="height()">
                                <i class="icon"><img class="menu_icn" src="img/height_menu.png"></i> Height
                            </li>
                            <li class="item item-icon-left" menu-close ng-click="waist()">
                                <i class="icon"><img class="menu_icn" src="img/waist_menu.png"></i> Waist
                            </li>
                        </ul>
                    </li>
                </div>
                <li class="item item-icon-left" menu-close ng-click="sahre()">
                    <i class="icon"><img class="menu_icn" src="img/share_icn.png"></i> Sharing
                </li>
                <li class="item item-icon-left" ng-click="setting()" menu-close>
                    <!--        <li class="item item-icon-left" menu-close>-->
                    <i class="icon"><img class="menu_icn" src="img/settings_icn.png"></i> Settings
                </li>
                <li class="item item-icon-left" ng-click="logout()" menu-close>
                    <!--        <li class="item item-icon-left" menu-close>-->
                    <i class="icon"><img class="menu_icn" src="img/logout_icn.png"></i> Logout
                </li>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>







